/*author: 15331169 lixiaoyun
last edited:  2016-10-23*/

@font-face {
	font-family: "Pretty";
	src: url('../font/meddon-font.woff');
}

body, html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Century Gothic", Arial, sans-serif;
	background-image: url('../img/wrapper.jpg');
	background-size: 100% 800px;
}

h1 {
	font-family: "Pretty";
	font-size: 40pt;
	text-align: center;
	margin-top: -20px;
}

#Game-container {
	height: 380px;
	width: 400px;
	margin: auto;
	position: relative;		
}

#Intro {
	width: 500px;
	margin: auto;
	text-align: center;
}

#Tip {
	height: 30px;
	width: 220px;
	margin: auto;
	margin-top: 50px;
	color: red;
	cursor: pointer;
	font-weight: bold;
	position: relative;
}

.Tip-image {
	background-image: url('../img/image0.png');
	background-repeat: no-repeat;
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 0px;
	right: -150px;
}

#changeImage {
	margin-left: -110px;
}

#Start {
	margin-left: 10px;
}

button {
	height: 30px;
	width: 100px;
	border: 0;
	border-radius: 3px;
	background-color: rgba(255, 0, 0, 0.75);
	color: white;
	position: absolute;
	left: 50%;
}

button:hover {
	background-color: rgba(255, 0, 0, 0.85);
}

button:active {
	background-color: rgba(255, 0, 0, 1);
}

#difficult {
	height: 50px;
	width: 400px;
	margin: auto;
}

input[type="radio"] {
	height: 20px;
	width: 20px;
	margin-left: 50px;
}

/*---Dynamic_position----*/
.image  {
	display: inline-block;
	position: absolute;
	height: 88px;
	width: 88px;
	background-image: url('../img/image0.png');
	background-repeat: no-repeat;
	/*border: 1px solid #aaaaaa;*/
	overflow: hidden;
	transition: all 0.2s;
}

#Game-container > div {
	transition: all 0.2s;
}

.image:hover{
	transform: scale(1.04);
}

/*----fragment.clip----*/
.Fragment0 {
	background-position: 0px 0px;
}

.Fragment1 {
	background-position: -88px 0px;
}

.Fragment2 {
	background-position: -176px 0px;
}

.Fragment3 {
	background-position: -264px 0px;
}

.Fragment4 {
	background-position: 0px -88px;
}

.Fragment5 {
	background-position: -88px -88px;
}

.Fragment6 {
	background-position: -176px -88px;
}

.Fragment7 {
	background-position: -264px -88px;
}

.Fragment8 {
	background-position: 0px -176px;
}

.Fragment9 {
	background-position: -88px -176px;
}

.Fragment10 {
	background-position: -176px -176px;
}

.Fragment11 {
	background-position: -264px -176px;
}

.Fragment12 {
	background-position: 0px -264px;
}

.Fragment13 {
	background-position: -88px -264px;
}

.Fragment14 {
	background-position: -176px -264px;
}

/*---position---*/
.CurPos0, .CurPos4, .CurPos8, .CurPos12 {
	left: 0;
}

.CurPos1, .CurPos5, .CurPos9, .CurPos13 {
	left: 90px;
}

.CurPos2, .CurPos6, .CurPos10, .CurPos14 {
	left: 180px;
}

.CurPos3, .CurPos7, .CurPos11, .CurPos15 {
	left: 270px;
}

.CurPos0, .CurPos1, .CurPos2, .CurPos3 {
	top: 0;
}

.CurPos4, .CurPos5, .CurPos6, .CurPos7 {
	top: 90px;
}

.CurPos8, .CurPos9, .CurPos10, .CurPos11 {
	top: 180px;
}

.CurPos12, .CurPos13, .CurPos14, .CurPos15 {
	top: 270px;
}


