doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link( href="images/username.png" content="image/png" rel="shortcut icon")
    script(type="text/javascript" src="/javascripts/rsa/Barrett.js")
    script(type="text/javascript" src="/javascripts/rsa/RSA.js")
    script(type="text/javascript" src="/javascripts/rsa/BigInt.js")
    script(type="text/javascript" src="/javascripts/jquery.js")
    script(type="text/javascript" src="/javascripts/validator.js")
    block head
  body
    block content
