/* author: 15331169 lixiaoyun
 * last edited in 2016-09-18
 */

body {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

#wrapper {
	background-image: url('http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000');
}

#banner {
	background-image: url('http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000');
	background-repeat: repeat-x;
	height: 50px;
	text-align: center;
}

h1 {
	text-align: center;
	font: bold 24pt Tahoma, Verdana, sans-serif;
}

/*------------------the main content-----------------------*/
#container {
	width: 800px;
	margin: 0 auto;
	border: 4px solid gray;
	overflow: hidden;
}



/*-----------------------------overview---------------------*/
#overview {
	float: right;
	width: 250px;
	background-color: #A2B964;
}

#overview-content {
	margin: 10px;
}

#overview {
	font-family: Arial, sans-serif;
}

#overview-content dl dt {
	font-weight: bold;
	margin-top: 1em;
}

/*--------------------------review-------------------------*/
#left-central-section {
	float: right;
	width: 550px;
}

/*-------------------review's title-----------------------*/
#rotten {
	background-image: url('http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000');
	background-repeat: repeat-x;
	height: 83px;
}

#review-title {
	font-size: 48pt;
	font-weight: bold;
	color: red;
	vertical-align: text-bottom;
}

#review-title span {
	color: white;
	font-size: 8pt;
	font-weight: normal;
}
#review {
	width: 550px;
	float: right;
}

.column {
	width: 47%;
	margin-left: 2%;
	float: left;
}

.comment {
	font-weight: bold;
	background-color: #E1D697;
	border: 2px solid gray;
	padding: 8px;
	overflow: hidden;
}

.comment img {
	float: left;
	margin-right: 5px;
}

.personal-information span {
	font-style: italic;
}

.personal-information img {
	float: left;
	margin-right: 5px;
}

.review-content {
	margin-bottom: 3em;
}

/*--------------------------footer-------------------------*/
#footer {
	background-color: #A2B964;
	clear: right;
}

#footer p {
	text-align: center;
	padding: 5px 0 5px 0;
	margin: 0;
}

/*----------------------------W3C links------------------------*/
#W3C-Validator {
	position: fixed;
	bottom: 0;
	right: 0;
}
