/*author: 15331169 lixiaoyun
last edited: 2016-10-15*/

html, body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Century Gothic", Arial, sans-serif;
}

header {
	height: 100px;
	width: 100%;
	text-align: center;
}

header h1 {
	font-size: 20pt;
	font-weight: lighter;
}

header p {
	font-size: 15pt;
}

#Recorder {
	height: 70px;
	width: 350px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
}

#SorS {
	height: 20px;
	width: 180px;
	margin-bottom: 10px;
}

#playing {
	height: 15px;
	width: 175px;
}

#time, #score {
	display: inline-block;
	position: absolute;
	right: 0;
}

#Time, #Score {
	height: 15px;
	width: 30px;
}

#difficulty {
	width: 400px;
	margin: auto;
}

#difficulty label {
	margin: 10px;
}
#difficulty input {
	height: 30px;
	width: 30px;
	margin: 10px;
}

#Moles {
	height: 280px;
	width: 425px;
	background-image: url('../img/草地.png');
	margin: auto;
}

.moleClass {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 5px;
	border-radius: 100%;
	border: 1px solid black;
	cursor: pointer;
}

.Mouse {
	background-image: url('../img/地鼠.png');
	background-size: 30px 30px;
}


footer {
	height: 150px;
	width: 700px;
	margin: auto;
	margin-top: 50px;
	font-weight: bold;
}

footer p {
	font-weight: lighter;
}
